<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="DSC.SmartMarket.BusinessLogic" />
    <namespace name="DSC.SmartMarket.BusinessLogic" />
    <namespace name="DSC.SmartMarket.BusinessLogic.Process" />
    <namespace name="DSC.SmartMarket.BusinessLogic.Validation" />
    <namespace name="DSC.SmartMarket.BusinessLogic.Repository" />
    <!--<alias alias="IOperacionalFacade" type="DSC.SmartMarket.BusinessLogic.IOperacionalFacade, DSC.SmartMarket.BusinessLogic" />
    <alias alias="OperacionalFacade" type="DSC.SmartMarket.BusinessLogic.OperacionalFacade, DSC.SmartMarket.BusinessLogic" />
    <alias alias="IAcessoFacade" type="DSC.SmartMarket.BusinessLogic.IAcessoFacade, DSC.SmartMarket.BusinessLogic" />
    <alias alias="AcessoFacade" type="DSC.SmartMarket.BusinessLogic.AcessoFacade, DSC.SmartMarket.BusinessLogic" />-->
    <container>
      <!-- Mapeamentos de Classes de Fachada -->
      <register type="IComercialFacade" mapTo="ComercialFacade">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IOperacionalFacade" mapTo="OperacionalFacade">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IAcessoFacade" mapTo="AcessoFacade">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <!-- Mapeamentos de Classes de Processo -->  
      <register type="IClienteProcess" mapTo="ClienteProcess">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IItemVendaProcess" mapTo="ItemVendaProcess">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IProdutoProcess" mapTo="ProdutoProcess">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IRFIDProdutoProcess" mapTo="RFIDProdutoProcess">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="ISecaoProcess" mapTo="SecaoProcess">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="ISecaoProdutoProcess" mapTo="SecaoProdutoProcess">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="ISupermercadoProcess" mapTo="SupermercadoProcess">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="ISupermercadoProdutoProcess" mapTo="SupermercadoProdutoProcess">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IUsuarioProcess" mapTo="UsuarioProcess">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IVendaProcess" mapTo="VendaProcess">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IListaCompraProcess" mapTo="ListaCompraProcess">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IListaCompraItemProcess" mapTo="ListaCompraItemProcess">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IConsultaListaCompraProcess" mapTo="ConsultaListaCompraProcess">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IConsultaListaCompraItemProcess" mapTo="ConsultaListaCompraItemProcess">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <!-- Mapeamentos de Classes de Validação -->
      <register type="IClienteValidation" mapTo="ClienteValidation">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IItemVendaValidation" mapTo="ItemVendaValidation">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IProdutoValidation" mapTo="ProdutoValidation">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IRFIDProdutoValidation" mapTo="RFIDProdutoValidation">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="ISecaoValidation" mapTo="SecaoValidation">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="ISecaoProdutoValidation" mapTo="SecaoProdutoValidation">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="ISupermercadoValidation" mapTo="SupermercadoValidation">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="ISupermercadoProdutoValidation" mapTo="SupermercadoProdutoValidation">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IUsuarioValidation" mapTo="UsuarioValidation">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IVendaValidation" mapTo="VendaValidation">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IListaCompraValidation" mapTo="ListaCompraValidation">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IListaCompraItemValidation" mapTo="ListaCompraItemValidation">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IConsultaListaCompraValidation" mapTo="ConsultaListaCompraValidation">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IConsultaListaCompraItemValidation" mapTo="ConsultaListaCompraItemValidation">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <!-- Mapeamentos de Classes Repositório -->  
      <register type="IClienteRepository" mapTo="ClienteRepository">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IItemVendaRepository" mapTo="ItemVendaRepository">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IProdutoRepository" mapTo="ProdutoRepository">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IRFIDProdutoRepository" mapTo="RFIDProdutoRepository">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="ISecaoRepository" mapTo="SecaoRepository">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="ISecaoProdutoRepository" mapTo="SecaoProdutoRepository">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="ISupermercadoRepository" mapTo="SupermercadoRepository">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="ISupermercadoProdutoRepository" mapTo="SupermercadoProdutoRepository">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IUsuarioRepository" mapTo="UsuarioRepository">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IVendaRepository" mapTo="VendaRepository">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IListaCompraRepository" mapTo="ListaCompraRepository">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IListaCompraItemRepository" mapTo="ListaCompraItemRepository">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IConsultaListaCompraRepository" mapTo="ConsultaListaCompraRepository">
        <lifetime type="TransientLifetimeManager" />
      </register>
      <register type="IConsultaListaCompraItemRepository" mapTo="ConsultaListaCompraItemRepository">
        <lifetime type="TransientLifetimeManager" />
      </register>
    </container>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>
