<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SmartMarketModelContainer" connectionString="metadata=res://*/SmartMarketModel.csdl|res://*/SmartMarketModel.ssdl|res://*/SmartMarketModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=digitalsmartcrafters.database.windows.net;initial catalog=SmartMarket;user id=administrador;password=27!uDrX@ekG3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="DSC.SmartMarket.Model" />
    <assembly name="EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <namespace name="DSC.SmartMarket.Model" />
    <namespace name="System.Data.Entity" />
    <container>
      <!-- Mapeamentos do Container -->
      <register type="DbContext" mapTo="SmartMarketModelContainer">
        <lifetime type="PerThreadLifetimeManager" />
      </register>
    </container>
  </unity>
</configuration>