
@{
    ViewBag.Title = "SenhaEnviada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row borderbox">
    <h2>Redefinir Senha</h2>
    <div>
        <p>Solicitação de redefinição de senha realizada com sucesso.</p>
        <p>Um e-mail foi enviado ao endereço informado e necessita a sua aprovação para surtir efeito.</p>
        <p><a href="@Url.Action("Index", "Home")">Clique aqui</a> para voltar para a tela inicial.</p>
    </div>
</section>

